@import "tailwindcss";

@theme {
  --color-primary: hsl(210 100% 45%);
  --color-secondary: hsl(69, 72%, 28%);
  --color-allan: hsl(215, 88%, 40%);
  --spacing-tt: 2rem;
}

@utility eu {
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-red-500);
}